.pageControlMainDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 1.5rem;
  z-index: 10;
  width: 100%;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0 0 2.5em 0;
}

.pageControlSubDiv {
  background-color: var(--mui-palette-neutral-800);
  border-radius: 5px;
  padding: 0.2rem 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--mui-palette-neutral-25);
  cursor: pointer;
  position: relative;
  font-size: 0.7rem;
}

.pageControlSubDiv:hover {
  background: var(--mui-palette-neutral-600);
}

.searchInputContainer {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  background-color: var(--mui-palette-neutral-700);
  padding: 0.1rem;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageJumpInputContainer {
  position: absolute;
  top: 1.7rem;
  left: 50%;
  width: 10em;
  transform: translateX(-50%);
  background-color: var(--mui-palette-neutral-700);
  padding: 0.1rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.customActionButtons button {
  background-color: var(--mui-palette-neutral-800);
}

.customActionButtons button:hover {
  background-color: var(--mui-palette-neutral-600);
}
