.playback {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 6rem;
  background: var(--mui-palette-neutral-900);
  border-radius: 12px;
}

.captionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.screenContainer {
  height: 15rem;
  position: relative;

  display: flex;
  justify-content: space-between;
}

.image {
  border-radius: 12px;
  object-fit: cover;
  z-index: 0;
}

.enabledCaptions {
  position: relative !important;
  width: 40% !important;
}

.captions {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
  font-size: 1rem;
}

@media only screen and (width > 1230px) {
  .captions {
    font-size: 1.2rem !important;
  }
}
