.border {
  padding: 1rem;
  background-image: linear-gradient(
      to right,
      var(--mui-palette-neutral-300) 33%,
      rgba(255, 255, 255, 0) 0%
    ),
    linear-gradient(
      to left,
      var(--mui-palette-neutral-300) 33%,
      rgba(255, 255, 255, 0) 0%
    ),
    linear-gradient(
      to bottom,
      var(--mui-palette-neutral-300) 33%,
      rgba(255, 255, 255, 0) 0%
    ),
    linear-gradient(
      to top,
      var(--mui-palette-neutral-300) 33%,
      rgba(255, 255, 255, 0) 0%
    );
  background-size:
    4rem 2px,
    4rem 2px,
    2px 2rem,
    2px 2rem;
  background-position:
    top left,
    bottom right,
    top left,
    top right;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  border-radius: 4px;
}
