.itemsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--mui-palette-neutral-800);
  padding: 13px 8px;
  border-radius: 4px;
  bottom: 3.8rem;
  z-index: 999999999999999999999999;
}

@media only screen and (max-width: 620px) {
  .item {
    font-size: 0.7rem !important;
  }
}
