.searchBarContainer {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 30rem;
  width: 29rem;
  height: 3rem;
  background-color: var(--mui-palette-neutral-800);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 0 8px 1px var(--mui-palette-neutral-600);
}

.searchInputWrapper {
  position: relative;
  height: 100%;
  flex: 1;
  color: var(--mui-palette-text-primary);
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.4375em;
}

.searchInputIcon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.searchInput {
  border: none;
  border-radius: 0.75rem 0 0 0.75rem;
  padding: 0 0.5rem 0 3rem;
  background: none;
  height: 100%;
  display: block;
  min-width: 0;
  width: 100%;
  font-size: medium;
  font-weight: 400;
}

.searchInput:focus {
  outline: thin solid white;
  outline-offset: -1px;
}

.searchDropdown {
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% + 0.75rem));
  z-index: 1;
  width: 100%;
  background-color: var(--mui-palette-neutral-700);
  border-radius: 0.75rem;
}

.dropdownSuggestion {
  cursor: pointer;
  font-size: medium;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.vosynAssistButton {
  width: 3rem;
  height: 100%;
  border-radius: 0rem 0.75rem 0.75rem 0rem;
}

.vosynAssistLogo {
  width: 28px;
  height: auto;
}
