.alternateSignin {
  display: flex;
  flex-direction: column;
}

.alternateSignin .formbtn {
  margin-top: 15px;
  text-transform: none;
  font-size: 1rem;
  font-weight: 500;
}

.formbtn.googleLoginbtn {
  color: black;
  border: 1px solid black;
  font-weight: 300;
  margin-top: 12px;
  height: 46px;
}

.formbtn.otherOptionsbtn {
  color: black;
  border: 1px solid black;
  font-weight: 300;
  margin-top: 15px;
  height: 46px;
}
