.loginContent {
  display: flex;
  flex-direction: column;
}

.forgotPwd {
  color: #527af9;
  display: flex;
  font-size: 1rem;
  text-decoration: underline;
  margin: 8px 0;
}

.loginContent .noAccountText {
  margin: 8px 0;
  display: flex;
  align-items: center;
  color: #f7f9ff;
  gap: 0.3rem;
  font-size: 1rem;
}

.noAccountText .signupLink {
  text-decoration: underline;
  color: #527af9;
  font-weight: 700;
  font-size: 1rem;
}

.loginContent .formbtn {
  margin-top: 15px;
  text-transform: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.loginbtn {
  background: #324da3;
  height: 52px;
}

.loginbtn:hover {
  background: #324da3;
}

.buttonLoading {
  cursor: none;
  opacity: 0.5;
}

.loginContent .error {
  font-size: 0.875rem;
  color: red;
}
