.contextual-info-section {
  width: 326px;
  height: 806px;
  margin: 20px auto;
  padding: 1rem;
  transition: background-color ease 0.3s;
  background: #efefef;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  padding-bottom: 20px;
  overflow: hidden;
}

.contextual-info-accordion {
  transition: background-color ease 0.3s;
  background: #efefef;
  box-shadow: none;
}

.accordion-summary-text {
  color: rgb(133, 132, 132);
  width: 100%;
  font-size: large;
}

.accordion-summary-icon {
  color: #9d9595;
}

.MuiAccordionSummary-expandIconWrapper {
  color: #9d9595;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.buttonContainer {
  width: 100%;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

.displayArea {
  margin-bottom: 5rem;
  margin-top: 5rem;
  padding: 1.5rem;
  padding-bottom: 2.5rem;
  border-radius: 8px;
  background-color: #ffffff;
  color: #333;
  height: 500px;
  overflow-y: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputContainer {
  display: flex;
  margin-top: 2rem;
  border-radius: 10px;
}

.inputField {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.response {
  margin-top: 1rem;
  color: #9d9595;
  font-style: italic;
}

.MuiAccordion-root {
  border: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contextual-info-section {
    width: 90%;
    height: auto;
  }

  .displayArea {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: auto;
  }

  .buttonContainer {
    flex-direction: row;
    justify-content: space-between;
  }
}
