.container {
  top: 0;
  z-index: -0.1;
  background-color: transparent;
}

.playlistTitle {
  color: var(--mui-palette-neutral-100);
}

.playlistTitle h2 {
  font-size: 40px;
}
.navbar {
  width: inherit;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 2rem 0;
  overflow-x: scroll;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbarList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.playlistSearchContainer {
  background-color: inherit;
  width: 70%;
}

.playlistSearch {
  color: var(--mui-palette-neutral-25);
  border-bottom: 2px solid var(--mui-palette-neutral-600);
  padding-bottom: 10px;
  width: 105%;
}

.searchIcon {
  justify-content: flex-end;
  padding-right: 0;
}

.searchIcon svg {
  color: var(--mui-palette-neutral-600);
}
