.container {
  top: 0;
  z-index: -0.1;
  background-color: transparent;
}

.playlistTitle {
  color: var(--mui-palette-neutral-100);
}

.playlistTitle h2 {
  font-size: 40px;
}
.navbar {
  width: inherit;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin: 2rem 0;
  overflow-x: scroll;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navbarList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.playlistTabs {
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 10px;
  background-color: rgb(132 132 132 / 10%);
  z-index: 1;
}

.playlistTabs .MuiTab-root {
  padding-bottom: 10px; /* Space for underline */
}

.playlistTabs .MuiTab-root.Mui-selected {
  border-bottom: 2px solid var(--mui-palette-primary-200); /* Underline on active */
}

.navItemBtn {
  flex-grow: 1;
  cursor: pointer;
  color: var(--mui-palette-neutral-400);
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
}

.navItemBtn:hover {
  color: var(--mui-palette-primary-200);
}

.navItemBtn.active {
  color: var(--mui-palette-neutral-25);
}

.navItemBtn.active:hover {
  color: var(--mui-palette-primary-200);
}

.navItemBtn.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--mui-palette-neutral-600);
  z-index: 2;
}

.navItemBtn.active:hover::after {
  background-color: var(--mui-palette-primary-200);
}


.playlistSearchContainer {
  background-color: inherit;
}

.playlistSearch {
  color: var(--mui-palette-neutral-25);
  border-bottom: 2px solid var(--mui-palette-neutral-600);
  padding-bottom: 10px;
  width: inherit;
}

.filterModal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterModalHeader {
  padding: 0px;
}

.filterModal .filterModalContent {
  padding: 10px 0px;
}

.filterModalOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.searchIcon {
  justify-content: flex-end;
  padding-right: 0;
}

.searchIcon svg {
  color: var(--mui-palette-neutral-600);
}

.filterPlaylist {
  padding: 0;
  justify-content: center;
}

.filterPlaylist svg {
  color: var(--mui-palette-neutral-600);
}

.filterButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filterButtons svg {
  color: var(--mui-palette-neutral-600);
}

.layout {
  border: 1px solid var(--mui-palette-neutral-600);
  border-radius: 10px !important;
  overflow: hidden;
}

.layout .toggle {
  color: inherit;
}

.layout .toggle.active {
  background: var(--mui-palette-neutral-400);
  border: 1px solid var(--mui-palette-neutral-600);
}

.sortAlpha {
  color: inherit;
}
