.navLinksContainer {
  display: flex;
  gap: 1rem;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  font-size: 2rem;
}

.navLink:hover {
  background-color: var(--mui-palette-neutral-50);
  color: var(--mui-palette-neutral-700);
}

.inactiveNavLink {
  background-color: var(--mui-palette-neutral-700);
  color: white;
}

.activeNavLink {
  background-color: var(--mui-palette-neutral-50);
  color: var(--mui-palette-neutral-700);
}
