.languageSelector {
  padding: 20px;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.dropdownContainer {
  margin-bottom: 16px;
}

.detectedFile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 8px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.compareText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 30px;
  background-color: #9c9696;
  transition: background-color ease 0.3s;
  margin: 15px 0;
  height: 40px;
}

.translatorIcon {
  color: white;
  margin-right: 8px;
}

.formatAlignLeftIcon {
  color: #ffffff;
  height: 17px;
}
