.formfieldControl {
  padding-top: 20px !important;
}

.formfieldControl .formfieldLabel {
  font-size: 1rem !important;
  font-weight: 400;
  color: #f7f9ff;
}

.formfieldControl .formfield {
  width: 100%;
  margin-top: 4px;
  background-color: #3b3b3e;
  border-radius: 8px;
  padding: 4px;
}

.formfieldControl .formfield input {
  -webkit-box-shadow: unset;
  -webkit-text-fill-color: unset;
  box-shadow: unset;
  height: 16px;
  font-size: 1rem;
  border-radius: 8px;
  color: white;
  color-scheme: light;
}

.formfield input::placeholder {
  color: #999;
}

.formfield fieldset {
  border: none;
}

.formfieldControl .inputError {
  border: 1px solid #d32f2f;
  outline: none;
}

.formfieldControl .visibilityIconBox {
  width: 60px;
}

.formfieldControl .visibilityIcon {
  width: 19px;
  height: 19px;
  top: 0.67px;
  left: 0.67px;
  color: #f7f9ff;
}
