.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.inputContainer {
  border: 2px solid;
  border-image-source: var(--mui-palette-linearGradientBorder);
  border-image-slice: 1;

  width: 40%;
  padding: 5rem 4rem;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  background: var(--mui-palette-primary-dark);
}

@media only screen and (max-width: 1080px) {
  .inputContainer {
    width: 60%;
  }
}

@media only screen and (max-width: 720px) {
  .inputContainer {
    width: 75%;
  }
}

@media only screen and (max-width: 520px) {
  .inputContainer {
    width: 100%;
    height: 100%;
  }

  .inputContainer {
    border: none;
  }
}

.goBackBtn {
  text-decoration: none;
  color: var(--mui-palette-primary-400);
  font-weight: bold;
}
