.auth {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
}

.authFormLayout {
  width: 90%;
  align-self: center;
}

.authContent {
  width: 100%;
}

.logoImg {
  align-self: flex-start;
  height: 39px;
}

.auth .tagline {
  padding: 15px 0 20px 0;
  font-size: 1.5rem;
  line-height: 38.4px;
  font-size: 500;
  color: #f7f9ff;
}

.tagline > span {
  font-size: 1.5rem;
  line-height: 38.4px;
}

.highlight {
  color: #527af9;
}

.authFormLayout .languageSelectorBox {
  padding: 0 0;
  display: flex;
  justify-self: right;
  gap: 10px;
  align-items: center;
  cursor: auto;
}

.languageSelectorBox p,
.languageSelectorBox svg {
  font-size: 1rem;
  color: #f7f9ff;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.line {
  border: none;
  border-top: 1px solid #f7f9ff;
  width: 45%;
}

.auth .text {
  padding: 0 5px;
  font-size: 1rem;
  color: #f7f9ff;
}

@media (max-width: 1024px) {
  .auth {
    padding: 0;
  }

  .authFormLayout {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .auth {
    width: 100%;
  }

  .authFormLayout {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .authFormLayout {
    width: 70%;
  }

  .auth {
    padding: 30px 0;
  }

  .divider {
    margin-top: 0;
  }

  .tagline,
  .highlight {
    font-size: large !important;
  }
}
